body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  font-size: 16px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 24px;
}

.input-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column; /* 垂直方向に並べる */
  align-items: center; /* 中央揃え */
}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px; /* 入力フィールドの最大幅を設定 */
  margin-top: 5px; /* 入力フィールドとラベルの間隔 */
}

.input-prefix {
  background-color: #f4f4f4;
  padding: 12px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  color: #888;
  font-size: 16px;
}

.input-wrapper input {
  flex: 1;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin-right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* 既存のCSS */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  font-size: 16px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 24px;
}

.input-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column; /* 垂直方向に並べる */
  align-items: center; /* 中央揃え */
}

.input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px; /* 入力フィールドの最大幅を設定 */
  margin-top: 5px; /* 入力フィールドとラベルの間隔 */
}

.input-prefix {
  background-color: #f4f4f4;
  padding: 12px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  color: #888;
  font-size: 16px;
}

.input-wrapper input {
  flex: 1;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
}

.label-text {
  flex: 0 0 200px;
  text-align: right;
  margin-right: 20px;
}

input,
select,
button {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
}

button {
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  margin-top: 20px;
}

.result-container-wrapper {
  border: none;
  padding: 10px;
  background-color: #f4f4f4;
  margin-top: 20px;
}

.result-container {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

#resultText {
  color: #333;
  font-size: 18px;
}

.explore-link {
  color: #3498db;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #3498db;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
}

.clear-button-wrapper {
  margin-top: 20px;
  margin-bottom: 35px;
}

.clear-button-wrapper button {
  background-color: #B1221A;
  color: #fff;
}

.clear-button-wrapper button:hover {
  background-color: #AF011C;
}
